@inherits LayoutComponentBase
@using MudBlazorTrials.Components

<MudThemeProvider IsDarkMode="true"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
	<CascadingValue Value="@Theme">
		<MudMainContent>
			<MudContainer MaxWidth="MaxWidth.Small">
				<div class="mud-theme-primary py-4 px-6 mx-4 rounded-xl">
					<MudContainer>
						<MudStack>
							<SwapPairField/>
							<SwapPairField/>
						</MudStack>
					</MudContainer>
				</div>
			</MudContainer>
		</MudMainContent>
	</CascadingValue>
</MudLayout>


@code {
	private MudTheme Theme = new MudTheme();
    bool _drawerOpen = false;
    decimal FirstPairQuantity { get; set; }
	string? FirstPairConversionText => FirstPairQuantity > 0 ? $"{FirstPairQuantity * 10}$" : null;

    decimal SecondPairQuantity { get; set; }
    string? SecondPairConversionText => SecondPairQuantity > 0 ? $"{SecondPairQuantity * 10}$" : null;
}