@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Small">
            <div class="mud-theme-primary py-4 px-6 mx-4 rounded-t-xl">
                <MudContainer>
                    <MudStack>
                        <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                            <MudText>Swap</MudText>
                            <MudIconButton Icon="@Icons.TwoTone.Settings" Size="Size.Medium"></MudIconButton>
                        </MudStack>
                        <MudPaper Class="pa-3">
                            <MudText>Swap</MudText>
                        </MudPaper>
                        <MudPaper Class="pa-3">Item 2</MudPaper>
                        <MudPaper Class="pa-3">Item 3</MudPaper>
                    </MudStack>
                </MudContainer>
            </div>
        </MudContainer>
	</MudMainContent>
</MudLayout>

@code {
    private MudTheme Theme = new MudTheme();
    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

	/*
	<MudAppBar>
		<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
		My Application
	</MudAppBar>
	<MudDrawer Open=@_drawerOpen>
		<NavMenu/>
	</MudDrawer>
	<MudMainContent>
		<MudContainer MaxWidth="MaxWidth.Medium">
			@Body
		</MudContainer>
	</MudMainContent>
	*/
}