@page "/pomodorotimer"
@inherits PomodoroTimerBase

<PageTitle>Pomodoro Timer (@SecondsLeftString)</PageTitle>

<div class="timer">
    @SecondsLeftString
</div>
<button class="btn btn-primary" @onclick="StartTimer">
    @if (IsPaused)
    {
        <label>Resume</label>
    }
    else
    {
        <label>Start</label>
    }
</button>
<button class="btn btn-secondary" @onclick="PauseTimer">Pause</button>
<button class="btn btn-secondary" @onclick="StopTimer">Stop</button>
