@page "/productsearch"
@using BlazorCourse.Data

<div class="container">
    <div class="form-group">
        <input class="form-control"
               @bind-value="SearchTerm" id="search"
               @bind-value:event="oninput"
               placeholder="Product to search for..."/>
    </div>
    
    @foreach (var item in FilteredProducts)
    {
        <div class="row align-items-center border-bottom">
            <div class="col-sm">
                <img src="images/@item.Image" class="mr-3">
            </div>
            <div class="col-sm">
                <h5 class="mt-0">@item.Title</h5>
            </div>
            <div class="col-sm">
                <h5 class="mt-0">@item.Price.ToString("c")</h5>
            </div>
        </div>
    }
</div>

@code {
    private string SearchTerm { get; set; }

    List<Data.Product> Products { get; set; } = new()
    {
        new Product {Title = "Smart speaker", Price = 22m, Image = "test-image.jpg"},
        new Product {Title = "Dumb speaker", Price = 89m, Image = "test-image.jpg"},
        new Product {Title = "Speaker cable", Price = 12m, Image = "test-image.jpg"},
        new Product {Title = "T-Shirt", Price = 32m, Image = "test-image.jpg"},
        new Product {Title = "Large TV", Price = 119.90m, Image = "test-image.jpg"},
    };

    public List<Product> FilteredProducts
    {
        get
        {
            if (!string.IsNullOrEmpty(SearchTerm))
            {
                return Products.FindAll(p => p.Title.ToLower().Contains(SearchTerm));
            }
            else
            {
                return Products;
            }
        }
    }

    

}