<div class="card">
    <div class="card-header">
        @Heading
    </div>
    <div class="card-body">
        @ChildContent
    </div>
</div>

@code {

    [Parameter]
    public string? Heading { get; set; } = null;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}