@page "/birthday"

<h2>What's your date of birth?</h2>
<input type="text" @bind="DateOfBirth"/>
<button class="btn btn-primary" @onclick="OnSubmitClicked">Submit</button>
<hr />
@if (Day != "")
{
    <h3>You were born on a @Day </h3>
}
else
{
    <h3>Try this date of birth format: yyyy-mm-dd</h3>
}


@code {
    public string DateOfBirth { get; set; } = "";
    public string Day { get; set; } = "";

    public void OnSubmitClicked()
    {
        if (DateOfBirth != null)
        {
            var isValid = DateTime.TryParse(DateOfBirth, out var date);
            if (isValid)
            {
                Day = date.DayOfWeek.ToString();
            }
        }
    }
}