@page "/pomodorotimer"
@inherits PomodoroTimerBase
<PageTitle>Pomodoro Timer (@SecondsLeftString)</PageTitle>

<div class="@TimerTextCss">
    @SecondsLeftString
</div>
<button class="btn btn-primary" disabled="@StartButtonDisabled" @onclick="StartTimer">
    @StartButtonText
</button>
<button class="btn btn-secondary" disabled="@PauseButtonDisabled" @onclick="PauseTimer">Pause</button>
<button class="btn btn-secondary" disabled="@StopButtonDisabled" @onclick="StopTimer">Stop</button>
